body {
  font-family: 'Urbanist', sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #562b80;
  height: 2.5em;
  color: white;
  padding: 0.6em 0;
}

.site-title,
.nav-item {
  display: inline-block;
  width: 50%;
  padding: 0 0.75rem;
}

.site-title {
  font-weight: 700;
}

.nav-item {
  text-align: right;
  cursor: pointer;
}

.nav-item:hover {
  text-decoration: underline solid white;
}

h1,
h2 {
  margin: 0.5em 0;
}

img {
  width: 100%;
  padding: 0;
  border-radius: 5px;
  object-fit: cover;
  max-height: 20em;
  margin-bottom: 2em;
}

input,
textarea {
  font-family: 'Urbanist', sans-serif;
  height: 2.5em;
  display: block;
  width: 100%;
  border: #dedede solid 1px;
  border-radius: 5px;
  margin-bottom: 2em;
}

input {
  height: 2.5em;
}

textarea {
  height: 10em;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  border: #562b80 solid 2px;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Urbanist', sans-serif;
}

button,
input[type="submit"] {
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #562b80;
  color: white;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  border: none;
  padding: 0.5em 1.5em;
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
  background-color: #391c57;
}

label {
  display: block;
  font-weight: 700;
  margin-bottom: 0.3em;
}

ul {
  padding: 0;
}

.entry {
  margin-bottom: 1.5em;
}

.entries-header {
  align-items: center;
  justify-content: space-between;
  padding: 0 0.75rem;
}

.entry-header {
  justify-content: space-between;
  align-items: center;
}

i {
  color: #562b80;
  cursor: pointer;
}

i:hover {
  color: #391c57;
}

.form-buttons {
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
}

.delete-hyperlink {
  color: rgb(221, 0, 0);
  margin: 0 0 2em 0;
  cursor: pointer;
}

.delete-hyperlink:hover {
  text-decoration: underline;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.delete-modal {
  background-color: white;
  padding: 2em 2em 1em 2em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-modal p {
  margin-bottom: 2em;
}

.delete-button,
.cancel-button {
  width: 100%;
}

.delete-button {
  background-color: rgb(221, 0, 0);
}

.delete-button:hover {
  background-color: rgb(192, 0, 0);
}

.cancel-button {
  background-color: white;
  color: #562b80;
}

.cancel-button:hover {
  background-color: rgb(241, 241, 241);
  color: #391c57;
}
