body {
  font-family: 'Urbanist', sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #562b80;
  height: 2.5em;
  color: white;
  padding: 0.6em 0;
}

h1,
h2 {
  margin: 0.5em 0;
}

img {
  width: 100%;
  padding: 0;
  border-radius: 5px;
  object-fit: cover;
  max-height: 20em;
  margin-bottom: 2em;
}

input,
textarea {
  height: 2.5em;
  display: block;
  width: 100%;
  border: #dedede solid 1px;
  border-radius: 5px;
  margin-bottom: 2em;
}

input {
  height: 2.5em;
}

textarea {
  height: 10em;
}

input:focus,
textarea:focus {
  outline: none;
  border: #562b80 solid 2px;
}

button,
input[type="submit"] {
  font-family: 'Urbanist', sans-serif;
  text-transform: uppercase;
  background-color: #562b80;
  color: white;
  border-radius: 5px;
  width: fit-content;
  border: none;
  padding: 0 1.5em;
}

label {
  display: block;
  font-weight: 700;
  margin-bottom: 0.3em;
}

ul {
  padding: 0;
}

.entry {
  margin-bottom: 1.5em;
}
